name: CI
on: [push,pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: ["2.12.20", "2.13.15", "3.3.5"]
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v6
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: zulu
      - uses: sbt/setup-sbt@v1
      - run: sbt ++${{ matrix.scala }} clean scalafmtSbtCheck scalafmtCheck test doc
        if: startsWith(matrix.scala, '3')
      - run: sbt ++${{ matrix.scala }} clean scalafmtSbtCheck scalafmtCheck coverage test doc coverageReport coveralls
        if: startsWith(matrix.scala, '2')
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
  results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Final Results
    needs: [build]
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
